<section class="footer">
    <div class="footer-container">
        <div class="footer-box">
            <div class="logo"><span>Rent A Car</span></div>
            <div class="social">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-youtube'></i></a>
            </div>
        </div>
        <div class="footer-box">
            <h3>Sayfa</h3>
            <a href="#">Ana Sayfa</a>
            <a href="#">Arabalar</a>
            <a href="#">Hakkımızda</a>
        </div>
        <div class="footer-box">
            <h3>Haklar</h3>
            <a href="#">Gizlilik</a>
            <a href="#">Politikalar</a>
            <a href="#">Çerez Politikası</a>
        </div>
        <div class="footer-box">
            <h3>İletişim</h3>
            <p>United States</p>
            <p>Japan</p>
            <p>Germany</p>
        </div>
    </div>
</section>

<div class="copyright">
    <p>&#169; aysenurfb All Right Reserved</p>
</div>
