.footer{
    background:#020102;
    color: #f6f6f6;
    border-top: 2px solid #d90429;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.footer-container .logo{
    color: #fff;
    margin-bottom: 1rem;
}
.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}
.footer-box .logo span{
    font-size: 1.5rem;
    font-weight: bold;
    color: #d90429;
    text-decoration: none;
}
.social{
    display: flex;
    align-items: center;
}
.social a{
    font-size: 24px;
    color: #fff;
    margin-right: 1rem;
}
.social a:hover{
    color:#d90429;
}
.footer-box h3{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.footer-box a,
.footer-box p{
    color:#818181;
    margin-bottom: 10px;
    text-decoration: none;
}
.footer-box a:hover{
    color: #fff;
    color:#d90429;
}
.copyright{
    padding: 20px;
    text-align: center;
    color: #fff;
    background: #020102;
}
@media only screen and (max-width: 607px){
    .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}