<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
</div>
<table class="styled-table">
    <thead>
        <tr>
            <th>Araba Adı</th>
            <th>Marka Adı</th>
            <th>Rengi</th>
            <th>Günlük Ücreti</th>
        </tr>
    </thead>
    <tr *ngFor="let car of cars">
        <td>{{ car.carName }}</td>
        <td>{{ car.brandName }}</td>
        <td>{{ car.colorName }}</td>
        <td>{{ car.dailyPrice }}</td>
    </tr>
</table>